@import "tailwindcss";
@import "@hp-mis/design-tokens/tokens.css";
@import "@hp-mis/design-tokens/fonts.css";

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-text-primary);
  --font-sans: var(--font-sans);
  --color-brand: var(--color-interactive-brand);
}

html,
body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

body {
  -webkit-font-smoothing: antialiased;
}
